datos/__pycache__/obtener_datos.cpython-313.pyc
auxiliares/__pycache__/normalizar_cadena.cpython-313.pyc
datos/__pycache__/insertar_datos.cpython-313.pyc
datos/__pycache__/obtener_datos.cpython-313.pyc
iu/__pycache__/__init__.cpython-313.pyc
iu/__pycache__/iu_carrera.cpython-313.pyc
datos/__pycache__/obtener_datos.cpython-313.pyc
datos/__pycache__/obtener_datos.cpython-313.pyc
modelos/__pycache__/carrera.cpython-313.pyc
negocio/__pycache__/negocio_carreras.cpython-313.pyc
datos/__pycache__/obtener_datos.cpython-313.pyc
